.container {
    width : 1000px;
    height : auto;
    margin : 100px auto;
}

.box {
    width : 100px;
    height : 100px;
    background-color : cornflowerblue;
}

.empty {
    width : 100%;
    height : 500px;
}

.img-container {
    width : 800px;
    height : auto;
    margin : 0 auto;
    display : flex;
    justify-content : space-between;
    margin-bottom : 500px;
}

.img-box {
    width : 250px;
    height : 160px;
}

.img-box img {
    width : 100%;
    height : 100%;
}